<div id="players-title">
<%= @player.first_name %> <%= @player.second_name %> deleted.
    <div id="buttons">
        <form action="/players" method="get" class="space">
            <input type="submit" value="Go Back" id="sign-up-player" class="space">
        </form>
    </div>
</div>
