<div id="players-title">
    <form action="/players" method="post">
        <label for="first-name">First Name</label>
            <input id="first-name" type="text" name="first_name" class="input-box">

        <label for="second-name">Last Name</label>
            <input id="second-name" type="text" name="second_name" class="input-box">

        <label for="age">Age</label>
            <input id="age" type="number" name="age" min="16" max="99">


        <label for="positon">Position</label>
            <select id="position" name="position" class="input-box">
                <option value="Goalkeeper">Goalkeeper</option>
                <option value="Defender">Defender</option>
                <option value="Midfielder">Midfielder</option>
                <option value="Striker">Striker</option>
            </select>

            <input type="submit" value="Sign Up" id="sign-up-player">
</form>
