<div id="teams-title">
You have successfully created <%=@team.name%>.
</div>

<form action="/teams" method="get" class="space">
    <input type="submit" value="Go Back" id="sign-up-teams" class="space">
</form>
