<div id="teams-title">
<%= @team.name %> created.
    <div id="buttons">
        <form action="/teams" method="get" class="space">
            <input type="submit" value="Go Back" id="sign-up-team" class="space">
        </form>
    </div>
</div>
