<div id="teams-title">
    <form action="/teams" method="post">
        <label for="name">Team Name</label>
            <input id="name" type="text" name="name" class="input-box">

            <input type="submit" value="Create Team" id="sign-up-team">
</form>
