<div id="banner-text" class="fade-in">
    <h1 id="main-header">find-a-side</h1>
    <h3>There are currently <span style="color: #a13255"><%= @teams.length() %> teams</span> and <span style="color: #a13255"><%= @players.length %> players</span> looking to play</h3>
    <br>
    <a href="/players" class="button">Get Started</a>
</div>
