<div id="banner-text" class="fade-in">
    <h1 id="main-header">find-a-side</h1>
    <h3>There are currently <span style="color: #a13255"><%= @teams.length() %> teams</span> and <span style="color: #a13255"><%= @players.length %> players</span> looking to play</h3>
    <br>
    <a href="/players" class="button">Get Started</a>
</div>

<div id="rating-board" class="rating">

    <h4>The Guardian: <span class="italics">"Simply five stars. The best team finding service there is!"</span></h4>
    <!-- Was going to be a user input rating hence input but is a static rating for now -->
    <input type="radio" name="star" id="star1"><label for="star1"></label>
    <input type="radio" name="star" id="star2"><label for="star2"></label>
    <input type="radio" name="star" id="star3"><label for="star3"></label>
    <input type="radio" name="star" id="star4"><label for="star4"></label>
    <input type="radio" name="star" id="star5"><label for="star5"></label>

</div>

<div id="advert">
    <h3>Need a new football? Click no further! Buy one here: </h3>
    <img src="" alt="">
</div>
