<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Find-A-Side</title>
</head>
<body>
    <div id="nav">
        <div id ="logos">
            <img src="../images/facebook.png" alt="">
            <img src="../images/twitter.png" alt="">
        </div>
        <a href="/" class="button">Home</a>
        <a href="/teams" class="button">Teams</a>
        <a href="/players" class="button">Players</a>
    </div>

    <div id="background-img"></div>

    <%= yield %>

</body>
</html>
