<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Find-A-Side</title>
</head>
<body>
    <div id="nav">
        <a href="" class="button">Home</a>
        <a href="" class="button">Teams</a>
        <a href="" class="button">Players</a>
    </div>

    <div id="background-img"></div>
    <div id="banner-text">
        <h1 id="main-header">find-a-side</h1>
        <%= yield %>
        <br>
        <a href="" class="button">Get Started</a>
    </div>
</body>
</html>
