/* MAIN DOCUMENT STYLING */

*{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
    font-family: arial;
    height: 100%;
}


/* LAYOUT STYLING */

#nav {
    display: flex;
    background-color: #e8e8e8;
    position: fixed;
    top: 20px;
    z-index: 10;
    height: 8vh;
    min-height: 70px;
    width: 100vw;
    border-bottom: 10px inset #42587d;
    border-top: 10px inset #42587d;
    justify-content: flex-end;
    align-items: center;
}

#nav a{
    font-size: 18px;
    text-decoration: none;
    height: 100%;
    color: black;
    padding: 10px 20px 10px 20px;
    text-align: center;
    line-height: 40px;
    border-left: solid #42587d 2px;
}

#logos {
    margin-right: auto;
    align-items: flex-start;
    margin-left: 20px;
}

#nav img{
    height: 3vh;
    width: auto;
    z-index: 100;
    padding: 0px 10px 0px 10px;
}

#background-img{
    background-image: url('../images/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    filter: blur(5px);
}


.button:hover{
    background-color: #42587d !important;
    color: white !important;
}


/* HOME PAGE INDEX STYLING */

#main-header{
    font-size: 70px;
    text-transform: uppercase;
}

#banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 55%;
    padding: 40px 30px;
    text-align: center;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background-color: rgba(255,255,255,0.8);
    color: black;
    font-weight: bold;
    border: 10px inset #42587d;
    -webkit-animation: fadein 4s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#banner-text h3{
    padding: 0 8%;
    font-family: sans-serif;
}

#banner-text a{
    display: inline-block;
    padding: 10px 50px;
    border: 2px solid black;
    font-size: 18px;
    text-decoration: none;
    color: black;
    margin-top: 15px;
    border-radius: 10px;
}

/* PLAYERS PAGES STYLING */

#players-title {
    position: absolute;
    font-size: 15px;
    background-color: rgba(255,255,255,0.8);
    top: 10vh;
    background-color: rgba(255,255,255,0.8);
    z-index: 5;
    min-height: 70px;
    width: 90vw;
    margin: 5vw;
    font-size: 18px;
    text-decoration: none;
    color: black;
    padding: 10px 25px 10px 25px;
    line-height: 40px;
    border: solid #42587d 5px;
    height: auto;
    font-weight: bold;
}

#players-title h3 {
    padding: 5px 5px 5px 0px;
    font-size: 17px;
    line-height: 10px;

}

#players-new {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign-up {
    background-color: white;
    padding: 12px 26px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.input-box {
    width: 13vw;
    padding: 5px;
}

#sign-up-player {
    margin-right: 2px;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.space {
    margin-right: 15px;
}

/* TEAMS PAGES STYLING */

#teams-title {
    position: absolute;
    font-size: 15px;
    background-color: rgba(255,255,255,0.8);
    top: 10vh;
    background-color: rgba(255,255,255,0.8);
    z-index: 5;
    min-height: 70px;
    width: 90vw;
    margin: 5vw;
    font-size: 18px;
    text-decoration: none;
    color: black;
    padding: 10px 25px 10px 25px;
    line-height: 40px;
    border: solid #42587d 5px;
    height: auto;
    font-weight: bold;
}

#teams-title h3 {
    padding: 5px 5px 5px 0px;
    font-size: 17px;
    line-height: 10px;
}


#teams-new {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sign-up-team {
    margin-right: 2px;
}

#red {
    color: red;
}
